body{background:#fff;font-size:12px;font-family:Tahoma,Arial,Helvetica,sans-serif;color:#333;text-align:left;}
#menus ul li.current-menu-parent > a{background:#fff;color:#333;text-shadow:0 1px 0 #fff;}
#nav{z-index:5;position:relative;margin:0 auto;padding-top:20px;clear:both;height:31px;background:#0096C6;}
.post .entry th{background: yellow;}
.post .entry code{}
.post .entry img.avatar { float: left; margin-right: 15px }
.post .entry table { align: center }
.post .entry span.item { font-weight: bold; color: blue }
#sidebar h3,#sidebar h2{text-shadow:1px 1px 1px #aaa;color:#445566;font-family:Georgia,"Times New Roman",Times,serif;font-size:16px;margin:0;padding:0 5px;line-height:30px;}
#sidebar li.widget div{padding:8px 5px;border-top:none;}
#sidebar ul ul{padding:8px 5px;border-top:none;}
#wp-calendar td#next{text-align:right;padding-top:5px;}
span.booktitle { font-style: italic }

.entry code{background:#fff;color:#000;font-family:monospace}

img.post { border: 1px solid #000 }
img.left { float: left; margin-right: 15px }
img.right { float: right; margin-left: 15px }
p.caption { font-style: italic }

div.center div {
	align: center;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	}

div.image p {
	font-style: italic;
	text-align: center;
	}

div.image img {
	border:  1px solid #000;
	display: block;
	margin:  auto;
	border:  0;
	}

div.right div {
	float: right;
	margin-left: 15px;
	}

div.left div {
	float: left;
	margin-right: 15px;
	}

img.screenshot {
	border: 0;
	}

.overline {
	border-top: 3px solid;
	}
